
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/bootstarp/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/super-classes.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/custom-style.css">
    <link rel="stylesheet" href="~/assets/css/mobile.css">
    <title>Medtexh</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- top-bar-section-->
    <div class="w-100 float-left top-bar-main-con text-white text-xl-left text-lg-left text-md-left text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="top-bar-left-con ">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>King Street Melbourne, 3000, Australia</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
                    <div class="top-bar-right-con d-flex">
                        <span>Get Social:</span>
                        <ul class="list-unstyled mb-0">
                            <li class="float-left"><a href="https://www.facebook.com/" class="text-white"><i class="fab fa-facebook-square"></i></a></li>
                            <li class="float-left"><a href="https://twitter.com/?lang=en" class="text-white"><i class="fab fa-twitter-square"></i></a></li>
                            <li class="float-left"><a href="https://www.pinterest.com/" class="text-white"><i class="fab fa-pinterest-square"></i></a></li>
                            <li class="float-left"><a href="https://www.youtube.com/" class="text-white"><i class="fab fa-youtube-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- top-bar-section-->
    <!-- header-and-banner-section -->
    <div class="w-100 float-left header-and-banner-con banner-overlay-img">
        <div class="container">
            <div class="overlay-img">
                <!-- navbar-start -->
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html"><img src="~/assets/image/logo-img.png" alt="logo-img" class="img-fluid"></a>
                    <button class="navbar-toggler p-0 collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mr-auto">
                            <li class="nav-item active ">
                                <a class="nav-link p-0 text-white" href="/home">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-white" href="about.html">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-white" href="/service">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-white" href="/team">Team </a>
                            </li>
                            <li class="nav-item dropdown pr-lg-0">
                                <a class="nav-link dropdown-toggle p-0 text-white" href="/blog" >
                                    Blog
                                </a>

                            </li>
                            <li class="nav-item pr-0">
                                <a class="nav-link p-0 text-white" href="contact.html"> Contact </a>
                            </li>
                        </ul>
                        <a href="tel:+12345678" class="navbar-btn text-white">
                            <i class="fas fa-phone-volume"></i>
                            +1 234 56 78
                        </a>
                    </div>
                </nav>


                @RenderBody()

                <!-- weight-footer-section -->
                <section>
                    <div class="w-100 float-left weight-footer-con">
                        <div class="container">
                            <div class="weight-footer-inner-con">
                                <div class="row">
                                    <div class="col-lg-5 col-12 text-xl-left text-lg-left text-center">
                                        <div class="weight-footer-content ">
                                            <figure>
                                                <img src="~/assets/image/footer-logo.png" alt="footer-logo" class="img-fluid">
                                            </figure>
                                            <p class="col-lg-11 col-md-7 pl-0 pr-0 ml-lg-0 mr-lg-0 ml-md-auto mr-md-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elitsed do eiusmod tempororem ipsum dolor sit am econsect ametconsectetetur adipiscing.</p>
                                            <div class="weight-social-list">
                                                <ul class="list-unstyled mb-0">
                                                    <li class="d-inline-block"><a href="https://www.facebook.com/"><i class="fab fa-facebook-square d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                                    <li class="d-inline-block"><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter-square d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                                    <li class="d-inline-block"><a href="https://www.linkedin.com/signup"><i class="fab fa-linkedin d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                                    <li class="d-inline-block"><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-square mr-0 d-flex align-items-center justify-content-center text-white pr-0"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                                        <div class="weight-footer-content">
                                            <h5>Important Link</h5>
                                            <ul class="list-unstyled mb-0">
                                                <li><i class="fas fa-caret-right"></i>Appointment</li>
                                                <li><i class="fas fa-caret-right"></i>Doctors</li>
                                                <li><i class="fas fa-caret-right"></i>Services</li>
                                                <li><i class="fas fa-caret-right"></i>Specialties</li>
                                                <li><i class="fas fa-caret-right"></i>Neurology</li>
                                                <li class="mb-0"><i class="fas fa-caret-right"></i>Oncology</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-sm-3 col-6">
                                        <div class="weight-footer-content">
                                            <h5>Support</h5>
                                            <ul class="list-unstyled mb-0">
                                                <li><i class="fas fa-caret-right"></i>Support</li>
                                                <li><i class="fas fa-caret-right"></i>Contact Us</li>
                                                <li><i class="fas fa-caret-right"></i>Knowledge Base</li>
                                                <li><i class="fas fa-caret-right"></i>About Us</li>
                                                <li><i class="fas fa-caret-right"></i>Faq</li>
                                                <li class="mb-0"><i class="fas fa-caret-right"></i>Partnerships</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-5 col-sm-5 col-12">
                                        <div class="weight-footer-content">
                                            <h5>Get in Touch</h5>
                                            <ul class="list-unstyled mb-0">
                                                <li><span>Email: </span>info@medtexh.com</li>
                                                <li><span>Phone: </span>+1 234 567 89 0 0</li>
                                                <li><span>Fax: </span>+1 ( 987 ) 654 321  9 9</li>
                                                <li class="mb-0">
                                                    <span class="pr-2">Address:</span>King Street Melbourne,
                                                    3000, Australia
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- weight-footer-section -->
                <!-- footer-section -->
                <div class="w-100 float-left footer-con text-xl-left text-lg-left text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <p class="mb-0">Copyright ©2022 medtexh.com All Rights Reserved</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 d-flex justify-content-xl-end justify-content-lg-end justify-content-center">
                                <figure class="mb-0 d-inline-block">
                                    <img src="~/assets/image/payment-img1.png" alt="payment-img" class="img-fluid">
                                </figure>
                                <figure class="mb-0 d-inline-block">
                                    <img src="~/assets/image/payment-img2.png" alt="payment-img" class="img-fluid">
                                </figure>
                                <figure class="mb-0 d-inline-block">
                                    <img src="~/assets/image/payment-img3.png" alt="payment-img" class="img-fluid">
                                </figure>
                                <figure class="mb-0 d-inline-block mr-0">
                                    <img src="~/assets/image/payment-img4.png" alt="payment-img" class="img-fluid">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer-section -->
                <script src="~/assets/js/jquery-3.6.0.min.js"> </script>
                <script src="~/assets/js/popper.min.js"> </script>
                <script src="~/assets/js/wow.js"></script>
                <script>
                    new WOW().init();
                </script>
                <script src="~/assets/js/bootstrap.min.js"> </script>
                <script src="~/assets/js/custom-script.js"> </script>
</body>
</html>
